<!-- /src/app/pages/register/register.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="usuarios.correo" name="correo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuarios.contrasena" name="contrasena" type="password"></ion-input>
    </ion-item>

    <!-- Agrega más campos según sea necesario -->

    <ion-button expand="full" (click)="registrarUsuario()">Registrarse</ion-button>
  </ion-list>
</ion-content>
