
<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      DuocanosAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->

<ion-content [fullscreen]="true" class="ion-text-center" style="background-color: #000000; color: #FFFFFF;">
  <ion-card>
    <ion-card-header color="dark">
      <ion-card-title>Bienvenido a DuocanosAPP</ion-card-title>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="assets/img/logo-duoc.png" />
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>

    <ion-button expand="block" routerLink="/login">Estudiante</ion-button> 
    <ion-button expand="block" routerLink="/loginprofesor">Profesor</ion-button> 
    <ion-button expand="block" routerLink="/register">Registro Estudiante</ion-button>
    <ion-button expand="block" routerLink="/registerprofe">Registro Docente</ion-button>
    <!-- Agregar alerta guardado exitosamente -->


  </ion-card>
</ion-content>

<div color="dark">
  
</div>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>Equipo DUOC</ion-title>
  </ion-toolbar>
</ion-footer>